$color:  #1f7bc5;

.Admin-Panel {
    width: 100%;
    height: 100vh;
}

.admin-tab-container {
    
    margin: 20px auto 0px auto;
    text-align: center;

	// Each tab button
	.admin-tab-item {
        font-size: 13px;
        width: 92px;
        height: 116px;
        position: relative;
        float: none;
		padding: 15px;
		overflow: visible;
        background: $color;
        color: white;
		border: none;
		outline: none;
		border-radius: 0;
		cursor: pointer;
        letter-spacing: 0.1em;
        font-weight: bold;

        span {
            position: absolute;
            bottom: 15%;
            width: 100%;
            left: 0%;
        }

	}
	// Set Margin on next tab
	.admin-tab-item + .admin-tab-item {
		margin-left: 28px;
    }
    
	.admin-tab-item::before {
		transition: width 0.25s ease-in-out
    }
    .admin-tab-item::after {
		transition: width 0.25s ease-in-out
    }
    
	//active tab
	.admin-tab-item.is-active {
		border-radius: 25px;
	}
}